$backgroundColor: #141d2f;
$lightMode: #f6f8ff;

body {
    background-color: $backgroundColor;
    transition: all .3s ease;
}

body.light {
    background-color: $lightMode;
}

.parent-element {
    max-width: 700px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
}

@media(max-width: 768px) {
    .parent-element {
        max-width: calc(100% - 2%) !important;
        margin: 0rem auto;
    }
}